
:root {
  --main-color: blue;
}

header {
  background: #3e70d9;
  color: white;
  font-weight: bold;
  height: 75px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

a {
  color: #009579;
}

h1, p {
  margin: 0;
}

main {
  height: 100%;
  padding: 1rem;
}

body {
  background: #EEE;
  padding-top: 75px;
}

body, html {
  height: 200%;
}

* {
  box-sizing: border-box;
}